[submodule "costmap_prohibition_layer"]
	path = costmap_prohibition_layer
	url = https://github.com/RobotnikAutomation/costmap_prohibition_layer.git
[submodule "robot_localization_utils"]
	path = robot_localization_utils
	url = https://github.com/RobotnikAutomation/robot_localization_utils.git
[submodule "robotnik_msgs"]
	path = robotnik_msgs
	url = https://github.com/RobotnikAutomation/robotnik_msgs.git
[submodule "robotnik_sensors"]
	path = robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors.git
[submodule "summit_xl_common"]
	path = summit_xl_common
	url = https://github.com/RobotnikAutomation/summit_xl_common.git
[submodule "summit_xl_sim"]
	path = summit_xl_sim
	url = https://github.com/summitx/summit_xl_sim.git
